// $grey-100: #eee;

$light-theme: (
  background-body: #fff,
  background-body-tertiary: #f8f9fa,

  scroll-track-background: "#fff",
  scroll-thumb-background: "#ccc",
  scroll-thumb-hover: "#9e9e9e",

  brand-name-100: black,
  brand-name-200: black,
  brand-social: #4762f8,

  border-hero-right: #eee,
  background-hero-right: "linear-gradient(to right, #fff, #eee)",
  border-top-hero-right: "linear-gradient(to right, transparent, #fff, #fff, transparent)",

  text-red-500: #f96f73,
  text-yellow-500: #fa9348,
  text-green-500: #b6f9d2,
  text-green-700: #56b10e,
  text-pink-100: #ec4899,
  text-pink-200: #bd21b8,
  text-blue-100: #1dd2ec,
  text-white: #000,

  line-blue-500: #1a1443,
  resize-button: "linear-gradient(to right, #ec4899, #8b5cf6)",
  glow-card-background: #f5f6f7,
  skill-card-background: #f5f6f7,
  border-top-skill-card: "linear-gradient(to right, transparent, #fff, #fff, transparent)",

  //card
  card-title: #111827,
  card-text: #4b5563,
  card-tag: #059669,
  card-btn-text: #ffffff,
  card-bg: #ffffff,
  card-border: #e5e7eb,
  card-border-hover: #db2777,

  drawer-bg: #ffffff,
  drawer-text-main: #111827,
  drawer-text-sub: #4b5563,
);

$dark-theme: (
  background-body: #0d1224,
  background-body-tertiary: transparent,
  scroll-track-background: "#0d1224",
  scroll-thumb-background: "#606060",
  scroll-thumb-hover: "#d6d6d6",
  brand-name-100: #16f2b3,
  brand-name-200: #ec4899,
  brand-social: #ec4899,

  border-hero-right: #1b2c68a0,
  background-hero-right: "linear-gradient(to right, #0d1224, #0a0d37)",
  border-top-hero-right: "linear-gradient(to right, transparent, #ec4899, #8b5cf6, transparent)",

  text-red-500: #f96f73,
  text-yellow-500: #fa9348,
  text-green-500: #b6f9d2,
  text-green-700: #56b10e,
  text-pink-100: #ec4899,
  text-pink-200: #bd21b8,
  text-blue-100: #1dd2ec,
  text-white: #fff,

  line-blue-500: #1a1443,
  resize-button: "linear-gradient(to right, #ec4899, #8b5cf6)",

  glow-card-background: #101123,
  skill-card-background: #11152c,
  border-top-skill-card: "linear-gradient(to right, transparent,#8b5cf6, #8b5cf6, transparent)",

  // project card
  card-title: #ffffff,
  card-text: #d1d5db,
  card-tag: #16f2b3,
  card-btn-text: #ffffff,
  card-bg: rgba(255, 255, 255, 0.05),
  card-border: rgba(255, 255, 255, 0.1),
  card-border-hover: #ec4899,

  drawer-bg: #111827,
  drawer-text-main: #ffffff,
  drawer-text-sub: #9ca3af,
);

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
}

[data-bs-theme="dark"] {
  @each $name, $color in $dark-theme {
    --#{$name}: #{$color};
  }
}
